# Squads Configuration
REACT_APP_MULTISIG_ACCOUNT=BerUwitRYtiSxFnEHUEcuoRAmukC7BKS5fniVF2XPc7T
REACT_APP_RECIPIENT_WALLET=YOUR_RECIPIENT_WALLET_ADDRESS_HERE

# Solana Network Configuration
REACT_APP_RPC_URL=https://solana-mainnet.g.alchemy.com/v2/<your API key>

# Token Configuration (optional - for specific token transfers)
# So11111111111111111111111111111111111111112 = Wrapped SOL (wSOL) on mainnet
REACT_APP_TOKEN_MINT_ADDRESS=So11111111111111111111111111111111111111112
